*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a:link , a:active, a:visited{
	text-decoration: none;
}
.duong-dan-breadcrumbs {
    background: #efefef;
}
.duong-dan-breadcrumbs #breadcrumb{
    margin-bottom: 10px;
    padding-bottom: 1px;
    padding-top: 10px;
    font-size: 14px;
    color: gray;
}
.duong-dan-breadcrumbs .breadcrumb li >a{
    color: #d51e16;
}
.duong-dan-breadcrumbs .breadcrumb li >a:hover{
    text-decoration-line: underline;
}
.duong-dan-breadcrumbs .breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, " » ") !important;
}
.product-category .box-img img{
    width: 247px;
    height: 247px;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.product-category .box-img{
    position: relative;
    padding-top: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.product-category .products .product-small{
    padding: 0 9.8px 19.6px;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 10px;
}
.product-category .products .product-small .box-text{
    padding: 10px 0;
    position: relative;
    width: 100%;
    font-size: .9em;
}
.product-category .products .product-small .box-text .product-title{
    margin-bottom: 7px;
    cursor: pointer;
    padding: 10px 5px;
    text-align: center;
}
.product-category .products .product-small .box-text .price-wrapper .price{
    font-size: 15px !important;
    color: gray !important;
    display: flex;
    justify-content: space-around;
    color: red;
}
.product-category .products .product-small .box-text .price-wrapper .price span{
    color: #d51e16;
    font-weight: normal;
    font-size: 16px;

}
.product-category .products .product-small .box-text .price-wrapper .price .price-full{
    
    color: gray !important;
}
.product-category .products .product-small .box-text .product-title:hover >a{
    margin-bottom: 7px;
    color: red;
}
.product-category .products .product-small .box-text .product-title a{
    margin: 0;
    color: #383838;
    font-size: 14px;
    height: 36px;
    overflow: hidden;
}
.product-category .products .product-small .col-inner{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    background: white;
    border-radius: 10px;
}
.product-category .products .product-small .col-inner:hover{
    box-shadow: 0px 0px 20px #b9bac0;
    border-radius: 10px;
}
.product-category .products .product-small .col-inner .badge-container .badge-inner span {
    background: url(../images/sale.png);
    height: 54px;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    padding-left: 23px;
    padding: 4px 4px 10px 14px;
}
.badge {
    display: table;
    z-index: 20;
    pointer-events: none;
    height: 2.8em;
    width: 2.8em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.product-category .products .product-small .col-inner .badge-container {
    
    position: absolute;
    margin: 0;
    z-index: 21;
    right: -8px;
    top: 0;
}
.product-category .widget-title{
    font-size: 18px;
    width: 100%;
    display: block;
    background: #d51f16;
    padding: 9px 15px;
    letter-spacing: 0;
    color: white;
    text-transform: none;
    margin-bottom: 15px;
}
.product-category .product-categories{
    padding: 0px !important;
}
.product-category .product-categories >li >a{
    display: inline-block;
    padding: 6px 0px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    color: #d51f16;
}
.product-category .product-categories >li >a:hover{
    display: inline-block;
    padding: 6px 0px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    color: black  !important;
}
.active{
    color: #000 !important;
    font-weight: bolder !important;
}
.product-category .product-categories >li{
    display: flex;
    align-items: center;
}
.product-category .product-categories .count{
    opacity: .5;
    font-size: .7em;
    line-height: 3em;
}
.product-category .product-categories>li+li{
    border-top: 1px solid #ececec;
} 
.product-category .product-categories .toggle .icon-angle-down{
    
    font-display: block;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    line-height: 1.2;
    top: 1px;
    font-size: 1.2em;
}
.product-category .product-categories .noidung_dropdown{
    border: none;
    background-color: transparent;
    z-index: 99;
}
.icon-angle-down::before {
    position: relative;
    top: -2px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 0.2em solid #adb5bd;
    border-top: 0.2em solid #adb5bd;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
}
.icon-angle-up::before {
    position: relative;
    top: -2px;
    left: 0px;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 0.2em solid #adb5bd;
    border-top: 0.2em solid #adb5bd;
    transform: rotate(-44deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
}















.noidung_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .hienThi{
    display:block !important;
  }